.sideBarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-right: 2rem;
}

.sideBarOption:hover {
  background-color: #e8f5fe;
  color: var(--twitter-color);
  border-radius: 3rem;
  max-width: fit-content;
}

.sideBarOption__icon {
  padding: 2rem;
}

.sideBarOption .sideBarOption__icon .MuiSvgIcon-root {
  font-size: 2.5rem;
}

.sideBarOption h1 {
  font-size: 2rem;
}
