.SideBarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-right: 2rem;
  max-width: fit-content;
}

.SideBarOption:hover {
  background-color: #e8f5fe;
  color: var(--twitter-color);
  border-radius: 3rem;
}

.SideBarOption__Icon {
  padding: 2rem;
}

.SideBarOption .SideBarOption__Icon .MuiSvgIcon-root {
  font-size: 2.5rem;
}

.SideBarOption h1 {
  font-size: 2rem;
}
