.main {
  flex: 0.4;
  border-left: 1px solid var(--twitter-background);
  min-height: 100vh;
}
.main__header {
  display: flex;
  position: sticky;
  z-index: 2;
  top: 0;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  padding: 3rem;
  border-bottom: 1px solid var(--twitter-background);
  background-color: white;
}

.main__header h1 {
  font-size: 2rem;
}

.main__header .MuiSvgIcon-root {
  font-size: 2.5rem;
  color: var(--twitter-color);
  cursor: pointer;
}
